.leaderboard-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin: 16px 0;
  color: #fff;
}

.filter-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.filter-container button {
  padding: 6px 12px;
  border-radius: 12px;
  border: none;
  background-color: #444;
  color: #fff;
  cursor: pointer;
}

.filter-container button.active-filter {
  background-color: #B90009;
  color: #fff;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}

.member-card {
  display: flex;
  align-items: center;
  background-color: #555;
  padding: 12px;
  border-radius: 12px;
  color: #fff;
  position: relative;
}

.member-rank {
  font-size: 32px;
  font-weight: bold;
  margin-right: 16px;
  min-width: 60px;
  text-align: center;
}

.gold-ring {
  border: 3px solid gold;
  border-radius: 12px;
}
.silver-ring {
  border: 3px solid silver;
  border-radius: 12px;
}
.bronze-ring {
  border: 3px solid #cd7f32;
  border-radius: 12px;
}

.member-info {
  display: flex;
  flex-direction: column;
}

.member-username {
  font-size: 18px;
  font-weight: bold;
}

.member-xp, .member-muscle {
  font-size: 14px;
  color: #ccc;
}

/* Bottom Navigation Toolbar */
.bottom-nav-toolbar {
  padding: 0;
}
.bottom-nav {
  display: flex;
  width: 100%;
  padding: 0px;
  gap: 2px;
}
.bottom-nav-btn {
  flex: 1;
  border-radius: 0;
  --padding-start: 0;
  --padding-end: 0;
  --background: #B90009;
  --color: #ffffff;
  display: flex;
  height: 45px;
  margin: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.2rem;
  white-space: nowrap;
}