<ion-header>
  <ion-toolbar class="red-toolbar">

    <!-- Left side buttons -->
    <ion-buttons slot="start">
      <ion-button routerLink="/profile">
        <img src="assets/icon/profile.png" alt="Profile" class="header-icon" width="63" height="45">
      </ion-button>
      <ion-button routerLink="/groups">
        <img src="assets/icon/groups.png" alt="Groups" class="header-icon" width="57" height="42">
      </ion-button>
      <ion-button routerLink="/friends">
        <img src="assets/icon/friends.png" alt="Friends" class="header-icon" width="65" height="47">
      </ion-button>
    </ion-buttons>

    <ion-title class="center-title">RepX</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/settings">
        <img src="assets/icon/settings.png" alt="Settings" class="header-icon" width="40" height="30">
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="physique-wrapper">
    <div class="avatars-chart-container">

      <!-- Avatars Section -->
      <div class="avatars-section">
        <div class="avatar-front">
          <img src="assets/icon/front1.png" alt="front" class="avatar">
        </div>
        <div class="avatar-back">
          <img src="assets/icon/back1.png" alt="back" class="avatar">
        </div>
      </div>

      <!-- Radar Chart Section -->
      <div class="chart-section">
        <canvas id="physiqueRadarChart"></canvas>
      </div>

    </div>

    <!-- NEW MUSCLE SUMMARY SECTION -->
    <div class="muscle-summary">
      <div 
        class="muscle-card" 
        *ngFor="let m of muscleGroups; let i = index" 
        [ngClass]="m.color">
        <div class="muscle-name">{{ m.name }}</div>
        <div class="muscle-xp">XP: {{ m.xp }}</div>
        <div class="muscle-rank">Rank: {{ m.rank }}</div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="bottom-nav-toolbar">
    <ion-buttons class="bottom-nav">
      <ion-button routerLink="/home" class="bottom-nav-btn">
        Home
      </ion-button>
      <ion-button routerLink="/routine" class="bottom-nav-btn">
        Routine
      </ion-button>
      <ion-button routerLink="/physique" class="bottom-nav-btn">
        Phy
      </ion-button>
      <ion-button routerLink="/leaderboard" class="bottom-nav-btn">
        Leader
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>