<ion-content class="login-content">
  <div class="login-container">
    <!-- App Title -->
    <h1 class="app-title">RepX</h1>

    <!-- Login Card -->
    <ion-card class="login-card">
      <ion-card-content>
        <h2 class="login-heading">Login</h2>

        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <ion-item lines="none">
            <ion-label position="floating">Username</ion-label>
            <ion-input
              type="text"
              name="username"
              [(ngModel)]="username"
              required
            ></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="floating">Password</ion-label>
            <ion-input
              type="password"
              name="password"
              [(ngModel)]="password"
              required
            ></ion-input>
          </ion-item>

          <ion-button
            expand="block"
            color="danger"
            type="submit"
            [disabled]="!loginForm.valid"
            class="login-btn"
          >
            Login
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>

    <!-- Future Links -->
    
  </div>
  <div class="login-links">
    <a [routerLink]="'/signup'" class="signup-link">Sign up</a>
    <span class="divider">|</span>
    <a href="#" class="forgot-link">Can’t log in?</a>
  </div>

</ion-content>
