.signup-content {
  --background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
}

.signup-container {
  text-align: center;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1.5rem;
}

.signup-card {
  width: 90%;
  max-width: 360px;
  border-radius: 20px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6);
  background: #1a1a1a;
  color: #fff;
  margin: 0 auto;
}

.signup-heading {
  color: #e63946;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: left;
  font-weight: 600;
}



ion-item {
  --highlight-color-focused: #e63946;
  --color: #e63946;
  background: transparent;
  margin-bottom: 12px;
}

ion-input,
ion-select {
  color: #fff;
}

.signup-btn {
  margin-top: 25px;
  --border-radius: 16px;
  --background: #e63946;
  --background-hover: #c92836;
  font-weight: 600;
  letter-spacing: 1px;
}
