/* === NAVIGATION TOOLBAR === */
.center-title {
  text-align: center;
  flex: 1;
  font-weight: bold;
  font-size: 20px;
}

/* Reduce the size of header buttons uniformly */
ion-header ion-button {
  --padding-start: 4px;
  --padding-end: 4px;
  --min-width: 36px;
  --height: 36px;
}

.redirect-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
  p {
    color: #fff;
    font-size: 18px;
  }
}

/* === BOTTOM TOOLBAR === */
.bottom-nav-toolbar {
  padding: 0;
}

.bottom-nav {
  display: flex;
  width: 100%;
  padding: 0px;
  gap: 2px;
}

.bottom-nav-btn {
  flex: 1;
  border-radius: 0;
  --padding-start: 0;
  --padding-end: 0;
  --background: #B90009;
  --color: #ffffff;
  display: flex;
  height: 45px;
  margin: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.2rem;
  white-space: nowrap;
}
