<ion-header>
  <ion-toolbar class="red-toolbar">

    <!-- Left side buttons: Profile, Groups, Friends -->
    <ion-buttons slot="start">
      <ion-button routerLink="/profile">
        <img src="assets/icon/profile.png" alt="Profile" class="header-icon" width=63px height = 45px>
      </ion-button>
      <ion-button routerLink="/groups">
        <img src="assets/icon/groups.png" alt="Groups" class="header-icon" width=57px height = 42px>
      </ion-button>
      <ion-button routerLink="/friends">
        <img src="assets/icon/friends.png" alt="Friends" class="header-icon" width=65px height = 47px>
      </ion-button>
    </ion-buttons>

    <!-- Centered title -->
    <ion-title class="center-title">RepX</ion-title>

    <!-- Right side: Settings -->
    <ion-buttons slot="end">
      <ion-button routerLink="/settings">
        <img src="assets/icon/settings.png" alt="Settings" class="header-icon"
        width=40px height = 30px>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <!-- Page redirects to Friends page with Groups tab selected -->
  <div class="redirect-message">
    <p>Redirecting to Friends & Groups...</p>
  </div>

</ion-content>

<!-- Bottom Navigation -->
<ion-footer>
  <ion-toolbar class="bottom-nav-toolbar">
    <ion-buttons class="bottom-nav">
      <ion-button routerLink="/home" class="bottom-nav-btn">
        Home
      </ion-button>
      <ion-button routerLink="/routine" class="bottom-nav-btn">
        Routine
      </ion-button>
      <ion-button routerLink="/physique" class="bottom-nav-btn">
        Phy
      </ion-button>
      <ion-button routerLink="/leaderboard" class="bottom-nav-btn">
        Leader
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
